.wrapper-main {
    max-width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
}


button {
    border-radius: 25%;
    padding: 8px;
    border: 2px solid #111; 
    font-size: 20px;
    font-weight: bold;
    color:#6c0b0b;
    border: 2px solid #6c0b0b;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #6c0b0b;
} 

.container{
    float: left;
}

.form-container{
    max-width: 1100px;
    width: 100%;
}


@media (max-width: 1200px) {
   
}

@media (max-width: 1000px) {

}

@media (max-width: 800px) {
    .wrapper-main {
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    .wrapper-main {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .wrapper-main {
        flex-direction: column;
    }

}
